<form role="form">
	<div class="form-group">
		<label for="name">Name:</label> <input class="form-control" id="name">
	</div>
	<div class="form-group">
		<label for="productionYear">Date of production:</label> <input
			class="form-control" id="productionYear">
	</div>
	<div class="form-group">
		<label for="price">Price:{{test}}</label> <input class="form-control"
			id="price">
	</div>
	<button id="save" type="submit" class="btn btn-default">Submit</button>
	<button id="cancel" class="btn btn-default">Cancel</button>
</form>